

<div fxLayout="column" fxLayoutGap="4px" fxLayout.xs="column">
  <div class="mainHeading" fxLayout = "column" fxLayoutAlign="center center">
      <h3>Welcome To SatTV</h3>
  </div>
    <form>
      <div fxLayout="column" fxLayoutAlign="center center"  class="login">
         <div fxFlex ="10">
           <label>User Name: </label>
           <input  type="text" name="name" required placeholder="User Name"> 
         </div>

         <div fxFlex ="10">
           <label>Password : </label>
           <input class="space" type="text" name="name" required placeholder="Password"> 
         </div>

         <div>
           <button type="submit">Sumit</button>
         </div>

         <div>
           <h5> Don't Have an Account?<span (click) = "gotoReg()"> Register Here</span></h5>
         </div>
    </div>
   </form>
  
</div>